@page {
    margin: 0px 10px;
}
* {
    /* border: solid 0.5px gray; */

    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    margin: 0;
}

.main-container {
    width: 98%;
    /* border: solid 0.5px gray; */
    border-radius: 5px;
    padding: 10px;
    height: 99vh;
    font-size: 12px;
}

.logo {
    width: 15rem;
}

.data-container {
    padding: 0px;
    width: 100%;
}

.text-title {
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
}

.border_buttom {
    display: inline;
    padding-bottom: 2px;
    border-bottom: double 6px black;
}

.table-no-border {
    margin-top: 10px;
    margin-left: 20px;
}

.table-no-border tr td {
    padding: 4px 0;
    padding-right: 2px;
}
.table-no-border tr .first-col {
    width: 10rem;
}


.subtitle {
    font-weight: bold;
    font-size: 14px;

    margin-top: 15px;
    margin-bottom: 5px;
}

.subtitle p {
    margin: 0;
}

.table-bordered {
 border-collapse: collapse;
 width: 100%;
 margin-bottom: 5px;
}

.table-bordered tr td {
    padding-left: 7px;
}

.table-bordered tr .col1-2 {
    vertical-align: top;
    width: 50%;
}
.card-title {
    font-family: 'Times New Roman', Times, serif;

}
.card-container-id {
    margin: 0 auto;
    margin-top: 4px;
    height: 340px;
    width: 216px;
    border: double 5px black;
    padding: 3px;
}
.card-container {
    margin-top: 4px;
    height: 205px;
    width: 323px;
    border: double 5px black;
    padding: 3px;
}

.card-kk {
    margin-top: 4px;
    height:700px;
    width: 915px;
    border: double 5px black;
    transform: rotate(90), translateX(110px), translateY(70);
}
/* .no-content { */
    /* height: 5px; */
/* } */
.card-foto {
    position: absolute;
    height: 212px;
    width: 148px;
    /* 3x4 */
    /* height: 142px;
    width: 106px; */
    right: 10px;
    top: 10px;
    border: double 5px black;
}

.img-contet {
    width: inherit;
    height: inherit;
}


.ttd-container {
    margin-left: 40px;
    margin-top: 30px;
    /* display: flex;
    justify-content: end; */

    /* position: relative; */
}

.ttd-fild {
    /* position: absolute; */
    right: 0px;
    padding: 0;
    width: 12rem;
    /* border: solid black 1px; */
}

.ttd-fild p {
    margin: 0;
}

.catatan {
    font-size: 11px;
}
.footnote {
    border-collapse: collapse;
}









