@page {
    margin: 0 10px;
}
* {
    /* border: solid 0.5px gray; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-container {
    font-size: 12px;
    width: 98%;
    /* border: solid 0.5px gray; */
    border-radius: 5px;
    padding: 10px;
    height: 97vh;
}
.logo {
    width: 17rem;
}



.data-container {
    padding: 0px;
    width: 100%;
}

.text-title {
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
}

.table-no-border {
    margin-top: 10px;
    width: 100%;
}

.table-no-border tr td {
    padding: 4px 0;
    padding-right: 2px;
}
.table-no-border tr .first-col{
    width: 15rem;
}

.subtitle {
    font-weight: bold;
    font-size: 16px;

    margin-top: 15px;
    margin-bottom: 10px;
}

.subtitle p {
    margin: 0;
}

.table-bordered {
 border-collapse: collapse;
 width: 100%;
}
.table-bordered thead tr th {
    font-weight: 500;
    padding: 5px 0;
}
.table-bordered tr td {
    padding: 3px 0;
    padding-left: 7px;
}
.table-bordered tr .text-center{
    text-align: center;
}
.table-bordered tr .no{
    padding-left: 0px;
    width: 2.3rem;
    text-align: center;
}
.table-bordered tr .gender, .pendidikan{
    width: 8rem;
}

.table-bordered tr .tahun{
    width: 10rem;
}

.ttd-container {
    /* display: flex;
    justify-content: end; */

    position: relative;
}

.ttd-fild {
    position: absolute;
    right: 0px;
    padding: 0;
    width: 12rem;
    /* border: solid black 1px; */
}

.ttd-fild p {
    margin: 0;
}









